[submodule "deps/readies"]
	path = deps/readies
	url = https://github.com/RedisLabsModules/readies.git
[submodule "deps/RedisModulesSDK"]
	path = deps/RedisModulesSDK
	url = https://github.com/RedisLabsModules/RedisModulesSDK
