name: alpine

on:
  push:
    branches:
      - master
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    container:
      image: alpine:3
    steps:
      - name: Install prerequisites
        shell: sh
        run: |
          apk add bash make tar cargo python3 python3-dev py3-pip gcc git curl build-base autoconf automake py3-cryptography linux-headers musl-dev libffi-dev openssl-dev openssh py-virtualenv clang18-libclang
      - name: Checkout the module
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Install python dependencies
        run: |
          pip install -q --upgrade setuptools
          pip install -q --upgrade pip
          pip install -q -r tests/pytest/requirements.txt
          pip install -q addict toml jinja2 ramp-packer
        env:
          PIP_BREAK_SYSTEM_PACKAGES: 1
      - name: Checkout Redis
        uses: actions/checkout@v4
        with:
          repository: redis/redis
          ref: '7.2.1'
          path: redis
      - name: Build Redis
        working-directory: redis
        run: make install
      - name: Build module
        run: |
          make build
      - name: Test
        run: |
          make test
      - name: Pack module
        run: |
          make pack BRANCH=${{ github.ref_name }}
      - name: Upload artifacts to S3
        uses: ./.github/actions/upload-artifacts-to-s3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          github-ref: ${{ github.ref }}
