name: Pull Request Flow

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review] # Defaults + ready_for_review

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docs-only: # Check whether the PR is only modifying docs
    uses: ./.github/workflows/task-check-docs.yml

  coverage:
    needs: docs-only
    if: ${{ needs.docs-only.outputs.only-docs-changed == 'false' && !github.event.pull_request.draft && github.base_ref != '2.4' }}
    uses: ./.github/workflows/flow-coverage.yml
    secrets: inherit

  sanitize:
    needs: docs-only
    if: ${{ needs.docs-only.outputs.only-docs-changed == 'false' && !github.event.pull_request.draft }}
    uses: ./.github/workflows/flow-sanitizer.yml
    secrets: inherit
